/* Fonts */
@font-face {
    font-family: 'Lucida Sans';
    src: url('assets/fonts/LucidaSans.eot');
    src: url('assets/fonts/LucidaSans.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/LucidaSans.woff2') format('woff2'),
    url('assets/fonts/LucidaSans.woff') format('woff'),
    url('assets/fonts/LucidaSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('assets/fonts/LucidaSans-Italic.eot');
    src: url('assets/fonts/LucidaSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/LucidaSans-Italic.woff2') format('woff2'),
    url('assets/fonts/LucidaSans-Italic.woff') format('woff'),
    url('assets/fonts/LucidaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    src: url('assets/fonts/Asap-Regular.eot');
    src: url('assets/fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Asap-Regular.woff2') format('woff2'),
    url('assets/fonts/Asap-Regular.woff') format('woff'),
    url('assets/fonts/Asap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('assets/fonts/SegoeWP.eot');
    src: url('assets/fonts/SegoeWP.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeWP.woff2') format('woff2'),
    url('assets/fonts/SegoeWP.woff') format('woff'),
    url('assets/fonts/SegoeWP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Segoe WP';
    src: url('assets/fonts/SegoeWP-Light.eot');
    src: url('assets/fonts/SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeWP-Light.woff2') format('woff2'),
    url('assets/fonts/SegoeWP-Light.woff') format('woff'),
    url('assets/fonts/SegoeWP-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Caption';
    src: url('assets/fonts/ptsans/PTSans-CaptionBold.eot');
    src: url('assets/fonts/ptsans/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-CaptionBold.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-CaptionBold.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-CaptionBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('assets/fonts/ptsans/PTSans-NarrowBold.eot');
    src: url('assets/fonts/ptsans/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-NarrowBold.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-NarrowBold.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Caption';
    src: url('assets/fonts/ptsans/PTSans-Caption.eot');
    src: url('assets/fonts/ptsans/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Caption.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Caption.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Caption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-BoldItalic.eot');
    src: url('assets/fonts/ptsans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-BoldItalic.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-Bold.eot');
    src: url('assets/fonts/ptsans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Bold.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Bold.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-Regular.eot');
    src: url('assets/fonts/ptsans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Regular.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Regular.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('assets/fonts/ptsans/PTSans-Narrow.eot');
    src: url('assets/fonts/ptsans/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Narrow.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Narrow.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-Italic.eot');
    src: url('assets/fonts/ptsans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Italic.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Italic.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-BoldItalic.eot');
    src: url('assets/fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-BoldItalic.woff') format('woff'),
    url('assets/fonts/SegoeUI-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-Bold.eot');
    src: url('assets/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Bold.woff') format('woff'),
    url('assets/fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-Italic.eot');
    src: url('assets/fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-Italic.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Italic.woff') format('woff'),
    url('assets/fonts/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI.eot');
    src: url('assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI.woff2') format('woff2'),
    url('assets/fonts/SegoeUI.woff') format('woff'),
    url('assets/fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-Light.eot');
    src: url('assets/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-Light.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Light.woff') format('woff'),
    url('assets/fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'),
    url('assets/fonts/open-sans/opensans.woff2') format('woff2'),
    url('assets/fonts/open-sans/opensans.woff') format('woff'),
    url('assets/fonts/open-sans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* General */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
  
    white-space: nowrap;
    border: 0;
  
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper-background {
    min-height: 566px;
    padding-top: 200px;

    background-color: #413717;
    background-image: url("./assets/img/layout-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* * HEADER */
.page-header {
    position: absolute;
    left: 0;
    right: 0;
}

.wrapper-logo {
    display: flex;
    width: 322px;
}

.page-header__logo {
    margin-top: 40px;
}

.page-header__title {
    margin-top: 55px;

    font-family: "Lucida Sans";
    font-size: 41px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.41px;

    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
}

.nav {
    margin-left: 500px;
    margin-top: -40px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 453px;
    min-height: 41px;
    background-color: #f5c506;
    box-shadow: -5px -6px 0 rgba(159, 133, 43, 0.27), -10px -10px 0 rgba(116, 104, 31,  0.27);
}

.nav__item {
    font-size: 17px;
    font-weight: 400;
    font-family: "Segoe WP";
    text-transform: uppercase;
    letter-spacing: 0.17px;
}

.nav__icon {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 15px;
}

.nav__icon--person {
    background: url("./assets/img/person-desktop.svg") no-repeat;
}

.nav__icon--tool {
    background: url("./assets/img/tool-desktop.svg") no-repeat;
}

.nav__icon--message {
    background: url("./assets/img/message-desktop.svg") no-repeat;
}

.nav__link {
    color: #9b7d08;
}

.nav__link:hover {
    color: #685406;
}

.nav__link:active {
    opacity: 0.5;
}

/* * COMMERCIAL */
.commercial__wrapper {
    display: flex;
}

.video {
    margin-right: 45px;
}

.video__btn {
    width: 32px;
    height: 57px;
    
    outline: none;
    position: absolute;
    top: 40%;
    z-index: 2; 
}

.video__btn--next {
    right: 0;
    background: url("./assets/img/array-right-desktop.svg") no-repeat center;
    background-color: #f5c506;
}

.video__btn--prev {
    left: 0;
    background: url("./assets/img/array-left-desktop.svg") no-repeat center;
    background-color: #f5c506;
    opacity: 0.71;
}

.commercial__wrapper-text {
    width: 400px;
    text-align: center; 
}

.commercial__text {
    font-size: 63px;
    font-weight: 400;
    font-family: Asap;
    text-transform: uppercase;
    letter-spacing: 0.63px;

}

.commercial__text--cool {
    color: #c2bbbb;
}

.commercial__text--minimal {
    color: #f5c506;
}


/* * ADVANTAGES */
.advantages {
    background-color: #F7F7F7;
    background-image: url("./assets/img/layout-advantages-desktop.png");
    min-height: 212px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    width: 340px;
    min-height: 212px;  
    padding-top: 140px;

    background-repeat: no-repeat;
    border-right: 1px solid #D6D6D6;
}
.advantages__item:first-child {
    border-left: 1px solid #D6D6D6;
}

.advantages__item:nth-child(1){
    background-image: url("./assets/img/cloud-desktop.svg");
    background-position: 50% 40%;
}

.advantages__item:nth-child(2){
    background-image: url("./assets/img/leaf-desktop.svg");
    background-position: 50% 30%;
}

.advantages__item:nth-child(3){
    background-image: url("./assets/img/plane-desktop.svg");
    background-position: 50% 35%;
}

.advantages__text {
    font-size: 27px;
    font-weight: 300;
    font-family: "Segoe UI";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.27px;

    color: #000000;
}


/* * MEDIA */
.media {
    background-color: #f5c506;
    min-height: 509px;
    background: url("./assets/img/layout-media-desktop.png") no-repeat;
    background-size: cover;
}

.media__wrapper {
    display: flex;
}

.media__title {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 37px;
    font-weight: 400;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 0.37px;

    color: #ffffff;
}

.media__wrapper-text {
    position: relative;

    width: 341px;
    height: 233px;
    background-color: #ED9F3E;
}

.media__wrapper-text::before {
    content: "";

    position: absolute;
    width: 11px;
    height: 11px;
    bottom: 10px;
    right: 10px;

    background-image: url('/assets/img/plus.svg');
}

.media__text {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 34px;
    padding-left: 31px;

    font-size: 29px;
    font-weight: 300;
    line-height: 38px;
    font-family: "Segoe WP";
    letter-spacing: 0.29px;

    color: #ffffff;
}

.media__wrapper-img {
    position: relative;

    width: 315px;
    height: 232px;

    margin-right: 35px;

    background-color: #ED9F3E;
}

.media__video-btn {
    position: absolute;

    width: 65px;
    height: 65px;
    left: 40%;
    top: 40%;

    border-radius: 50%;
    background: url("./assets/img/video-play-btn.svg") no-repeat center;
    background-color: #f5c506;
    opacity: 0.73;
}

.media__wrapper-tweet {
    position: relative;

    width: 329px;
    height: 233px;
    background-color: #ED9F3E;
}

.media__wrapper-tweet::after {
    content: "22";

    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;

    font-size: 25px;
    line-height: 38px;
    font-weight: 300;
    font-family: "Segoe WP";
    letter-spacing: 0.25px;

    color: #ffffff; 
}

.media__wrapper-tweet::before {
    content: "";

    position: absolute;
    width: 11px;
    height: 11px;
    bottom: 10px;
    right: 10px;

    background-image: url('/assets/img/plus.svg');
}

.media__img-tweet {
    margin: 50px 80px;
    width: 163px;
    height: 133px;
}

.calendar {
    width: 113px;
    max-height: 86px;

    display: inline-block;
    background-color: #ddb101; 
}

.calendar__day {
    display: inline-block;
    padding-left: 25px;
    padding-top: 5px;

    font-size: 51px;
    font-weight: 700;
    line-height: 38px;
    font-family: "Segoe UI";
    letter-spacing: 0.51px;
    text-align: center;

    color: #ffffff;
}

.calendar__month {
    padding-left: 25px;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    font-family: "Segoe UI";
    text-transform: uppercase;
    letter-spacing: 0.21px;
    text-align: center;

    color: #b26529;
}

.scroll {
    max-width: 896px;
    height: 15px;
    margin-top: 43px; 
    margin-left: 60px;

    border-radius: 10px;
    background-color: #fae284;
}
  
  .scroll__bar {
    width: 197px;
    height: 15px;
    margin-left: 30%;

    border-radius: 10px;
    background-color: #ec9e03; 
}


/* * DEVICES */
.devices {
    background-color: #4C4C4C;
    min-height: 499px; 
    background: url("./assets/img/layout-main3-desktop.png") no-repeat;
    background-size: cover;
}

.devices__wrapper {
    display: flex;
}

.devices__wrapper-img {
    position: relative;
    margin-right: 60px;
}

.devices__wrapper-img::before {
    content: "Its 100% Free";

    position: absolute;
    width: 116px;
    height: 116px;
    top: -30px;
    left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.51px;
    text-align: center;

    border-radius: 50%;
    background-color: #f5c506;
}

.devices__wrapper-img img {
    margin-right: 15px;
}

.devices__title {
    padding: 50px 0;

    font-size: 43px;
    font-weight: 400;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 0.43px;
    text-align: center;

    color: #f5c506;
}

.devices__list {
    width: 400px;
}

.devices__item {
    position: relative;

    font-size: 22px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans";
    letter-spacing: 0.22px;
    word-wrap: break-word;

    color: #a9a9a7;
}

.devices__item::before {
    content: "";

    position: absolute;
    width: 14px;
    height: 14px;
    top: 12px;
    left: -10%; 

    border-radius: 12px;
    background-color: #f5c506;
}

/* * FOOTER */
.page-footer {
    min-height: 64px;
    padding: 20px 0;

    background-color: #4C4C4C;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
}

.page-footer__wrapper-logo {
    display: flex;
}

.page-footer__title {
    font-size: 29px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.29px;
    font-family: "Lucida Sans";

    color: #ffffff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
}