/* Fonts */
@font-face {
    font-family: 'Lucida Sans';
    src: url('assets/fonts/LucidaSans.eot');
    src: url('assets/fonts/LucidaSans.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/LucidaSans.woff2') format('woff2'),
    url('assets/fonts/LucidaSans.woff') format('woff'),
    url('assets/fonts/LucidaSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('assets/fonts/LucidaSans-Italic.eot');
    src: url('assets/fonts/LucidaSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/LucidaSans-Italic.woff2') format('woff2'),
    url('assets/fonts/LucidaSans-Italic.woff') format('woff'),
    url('assets/fonts/LucidaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    src: url('assets/fonts/Asap-Regular.eot');
    src: url('assets/fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Asap-Regular.woff2') format('woff2'),
    url('assets/fonts/Asap-Regular.woff') format('woff'),
    url('assets/fonts/Asap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('assets/fonts/SegoeWP.eot');
    src: url('assets/fonts/SegoeWP.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeWP.woff2') format('woff2'),
    url('assets/fonts/SegoeWP.woff') format('woff'),
    url('assets/fonts/SegoeWP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Segoe WP';
    src: url('assets/fonts/SegoeWP-Light.eot');
    src: url('assets/fonts/SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeWP-Light.woff2') format('woff2'),
    url('assets/fonts/SegoeWP-Light.woff') format('woff'),
    url('assets/fonts/SegoeWP-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Caption';
    src: url('assets/fonts/ptsans/PTSans-CaptionBold.eot');
    src: url('assets/fonts/ptsans/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-CaptionBold.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-CaptionBold.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-CaptionBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('assets/fonts/ptsans/PTSans-NarrowBold.eot');
    src: url('assets/fonts/ptsans/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-NarrowBold.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-NarrowBold.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Caption';
    src: url('assets/fonts/ptsans/PTSans-Caption.eot');
    src: url('assets/fonts/ptsans/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Caption.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Caption.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Caption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-BoldItalic.eot');
    src: url('assets/fonts/ptsans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-BoldItalic.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-Bold.eot');
    src: url('assets/fonts/ptsans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Bold.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Bold.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-Regular.eot');
    src: url('assets/fonts/ptsans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Regular.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Regular.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('assets/fonts/ptsans/PTSans-Narrow.eot');
    src: url('assets/fonts/ptsans/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Narrow.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Narrow.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PT Sans';
    src: url('assets/fonts/ptsans/PTSans-Italic.eot');
    src: url('assets/fonts/ptsans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ptsans/PTSans-Italic.woff2') format('woff2'),
    url('assets/fonts/ptsans/PTSans-Italic.woff') format('woff'),
    url('assets/fonts/ptsans/PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-BoldItalic.eot');
    src: url('assets/fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-BoldItalic.woff') format('woff'),
    url('assets/fonts/SegoeUI-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-Bold.eot');
    src: url('assets/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Bold.woff') format('woff'),
    url('assets/fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-Italic.eot');
    src: url('assets/fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-Italic.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Italic.woff') format('woff'),
    url('assets/fonts/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI.eot');
    src: url('assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI.woff2') format('woff2'),
    url('assets/fonts/SegoeUI.woff') format('woff'),
    url('assets/fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/SegoeUI-Light.eot');
    src: url('assets/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SegoeUI-Light.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Light.woff') format('woff'),
    url('assets/fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'),
    url('assets/fonts/open-sans/opensans.woff2') format('woff2'),
    url('assets/fonts/open-sans/opensans.woff') format('woff'),
    url('assets/fonts/open-sans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* General */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
  
    white-space: nowrap;
    border: 0;
  
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

/* * HEADER */
.page-header {
    min-height: 566px;
    background-image: url("./assets/img/layout-header-desktop.png");
    background-repeat: no-repeat;
}

.wrapper-logo {
    display: flex;
    width: 322px;
}

.page-header__logo {
    margin-top: 40px;
}

.page-header__title {
    margin-top: 55px;

    font-family: "Lucida Sans";
    font-size: 41px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.41px;

    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
}

.nav {
    margin-left: 500px;
    margin-top: -40px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 453px;
    min-height: 41px;
    background-color: #f5c506;
}

.nav__item {
    margin-right: 30px;

    font-size: 17px;
    font-weight: 400;
    font-family: "Segoe WP";
    text-transform: uppercase;
    letter-spacing: 0.17px;
}

.nav__link {
    color: #9b7d08;
}

.nav__link:hover {
    color: #685406;
}

.nav__link:active {
    opacity: 0.5;
}

/* * COMMERCIAL */
.commercial {
    border: 1px solid red;
}

.commercial__wrapper {
    display: flex;
}

.commercial__video {
    margin-right: 45px;
}
.commercial__wrapper-text {
    border: 1px solid green;

    width: 400px;
    text-align: center; 
}

.commercial__text {
    font-size: 63px;
    font-weight: 400;
    font-family: Asap;
    text-transform: uppercase;
    letter-spacing: 0.63px;

}

.commercial__text--cool {
    color: #c2bbbb;
}

.commercial__text--minimal {
    color: #f5c506;
}


/* * ADVANTAGES */
.advantages {
    background-image: url("./assets/img/layout-advantages-desktop.png");
    min-height: 212px;
}

.advantages__list {
    display: flex;
}

.advantages__item {
    font-size: 27px;
    font-weight: 300;
    font-family: "Segoe UI";
    text-transform: uppercase;
    letter-spacing: 0.27px;
    color: #000000;

    margin-right: 40px;
}

/* * MEDIA */
.media {
    background-color: #f5c506;
    min-height: 509px;
}

.media__wrapper {
    display: flex;
}

.media__title {
    font-family: "PT Sans";
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.37px;

    color: #ffffff;
}

.media__wrapper-tweet {
    width: 329px;
    min-height: 233px;
    background-color: #ED9F3E;
}

.media__wrapper-text {
    width: 341px;
    min-height: 233px;
    background-color: #ED9F3E;
}

.media__wrapper-img {
    width: 315px;
    height: 232px;
    background-color: #ED9F3E;

    margin-right: 35px;
}

.media__text {
    font-size: 29px;
    font-weight: 300;
    line-height: 38px;
    font-family: "Segoe WP";
    letter-spacing: 0.29px;

    color: #ffffff;
}


/* * DEVICES */
.devices {
    background-color: #4C4C4C;
    min-height: 499px; 
}

.devices__wrapper-img {
    width: 545px;
}
.devices__title {
    font-size: 43px;
    font-weight: 400;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 0.43px;
    text-align: center;

    color: #f5c506;
}

.devices__list {
    margin-left: 600px;
    width: 400px;
}

.devices__item {
font-size: 22px;
font-weight: 400;
font-family: "Open Sans";
letter-spacing: 0.22px;

color: #a9a9a7;
}


/* * FOOTER */
.page-footer {
    background-color: #4C4C4C;
}

.page-footer__wrapper-logo {
    display: flex;
}

.page-footer__title {
    font-size: 29px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.29px;
    font-family: "Lucida Sans";

    color: #ffffff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
}